  <div *ngIf="(currentScreenSubj | async) == wordBundleScreen.PICK_WORD_BUNDLE ">
    <word-bundle-picker [activeWordBundleSubj]="activeWordBundleSubj" [editWordBundleSubj]="editWordBundleSubj" [currentScreenSubj]="currentScreenSubj"></word-bundle-picker>
  </div>
  <div *ngIf="(currentScreenSubj | async) == wordBundleScreen.EDIT_WORD_BUNDLE">
    <word-bundle-editor [editWordBundleSubj]="editWordBundleSubj"></word-bundle-editor>
  </div>
  <div *ngIf="(currentScreenSubj | async) == wordBundleScreen.PICK_WORD">
    <words-in-bundle [activeWordBundleObs]="activeWordBundleSubj" [activeWordSubj]="activeWordSubj" [editWordSubj]="editWordSubj"></words-in-bundle>
  </div>
  <div *ngIf="(currentScreenSubj | async) == wordBundleScreen.EDIT_WORD">
    <word-editor [activeWordBundleObs]="activeWordBundleSubj" [activeWordSubj]="activeWordSubj" [editWordSubj]="editWordSubj"></word-editor>
  </div>
