<div class="column">
<word-bundle-picker [activeWordBundleSubj]="activeWordBundleSubj"></word-bundle-picker>
</div>
<div class="column">
<word-bundle-editor [wordBundleObs]="activeWordBundleSubj"></word-bundle-editor>
</div>
<div class="column">
<words-in-bundle [activeWordBundleObs]="activeWordBundleSubj" [activeWordInBundleSubj]="activeWordInBundleSubj"></words-in-bundle>
</div>
<div class="column">
<word-editor [activeWordBundleObs]="activeWordBundleSubj" [activeWordInBundleSubj]="activeWordInBundleSubj"></word-editor>
</div>
