  <div class="sign-up-component">
    <div class="title">
      <h2>Sign up to vocabulator</h2>
    </div>
    <div>
      <label for="email">Email:</label>
      <input id="email" [(ngModel)]="credentials.email">
    </div>
    <div>
      <label for="password">Password:</label>
      <input id="password" [(ngModel)]="credentials.password" type="password">
    </div>
    <div class="controls">
      <button (click)="signUp()">Sign up</button>
    </div>
    <div class="sign-in-link">
      <p>Already has an account? <a [routerLink]="['/sign-in']">Sign in</a>.</p>
    </div>
  </div>

  <div class="about">
    <h2>What is vocabulator?</h2>
    <p>Vocabulator is the quickest way to learn English words. Do you remember old good word-cards?
      Word from one side and translation from another. They worked 200 years ago, and they work now.
      But they are slow. And heavy. They are hard to use when you are in the bus. So reinvent them
      in more productive and useful way in vocabulator!</p>
    <ul>
      <li>You create the words lists you want to learn.</li>
      <li>We get the words order, wich improve learning process.
        The more important and less known words are go frequently.</li>
    </ul>
  </div>

