<div class="edit-word-page">
    <h1>Create word</h1>
    <label>word:
        <input type="text" ng-model="word.word"/>
    </label>

    <h2>Meanings:</h2>
    <table>
        <tr>
            <th>Name</th>
            <th></th>
        </tr>
        <tr ng-repeat="meaning in word.meanings | orderBy: 'positionInOrder'">
            <td>
                <input type="text" ng-model="meaning.meaning">
            </td>
            <td>
                <button ng-click="removeMeaning(meaning)">remove</button>
            </td>
        </tr>
    </table>
    <button ng-click="addMeaning(word)">Add meaning</button>
    <button ng-click="saveWord(word)">Save</button>
</div>