<word-bundle-picker
  [currentScreenSubj]="currentScreenSubj"
  *ngIf="(currentScreenSubj | async) == wordBundleScreen.PICK_WORD_BUNDLE">
</word-bundle-picker>

<word-bundle-editor
  *ngIf="(currentScreenSubj | async) == wordBundleScreen.EDIT_WORD_BUNDLE">
</word-bundle-editor>

<words-in-bundle
  [currentScreenSubj]="currentScreenSubj"
  *ngIf="(currentScreenSubj | async) == wordBundleScreen.PICK_WORD">
</words-in-bundle>

<word-editor
  *ngIf="(currentScreenSubj | async) == wordBundleScreen.EDIT_WORD">
</word-editor>
