<div class="flex-container" fxLayout="row" fxLayoutAlign="center start">
  <div class="flex-item" fxFlex="24%" *ngIf="!(wordAndBundleEditorService.editWordBundleSubj | async)">
    <word-bundle-picker></word-bundle-picker>
  </div>
  <div class="flex-item" fxFlex="24%" *ngIf="wordAndBundleEditorService.editWordBundleSubj | async">
    <word-bundle-editor></word-bundle-editor>
  </div>
  <div class="flex-item" fxFlex="24%" *ngIf="wordAndBundleEditorService.activeWordBundleSubj | async">
    <words-in-bundle></words-in-bundle>
  </div>
  <div class="flex-item" fxFlex="24%" *ngIf="wordAndBundleEditorService.editWordSubj | async">
    <word-editor></word-editor>
  </div>
</div>
