<div class="word-editor">
  <h2>{{title}}</h2>
  <div>
    <label for="word">Word:</label>
    <input id="word" [(ngModel)]="word.word" [disabled]="wordEditorDisabled"/>
  </div>
  <div>
    <label for="importance">Importance:</label>
    <select id="importance" [(ngModel)]="word.importance" (change)="importanceChanged(word.importance)" [disabled]="wordEditorDisabled" >
      <option *ngFor="let importanceValue of importanceValues" [value]="importanceValue.value">{{importanceValue.view}}</option>
    </select>
  </div>
  <label for="meaning">Meaning:</label>
  <textarea id="meaning" [(ngModel)]="word.meaning" [disabled]="wordEditorDisabled"></textarea>
  <label for="usageExamples">Usage examples:</label>
  <textarea id="usageExamples" [(ngModel)]="word.usageExamples" [disabled]="wordEditorDisabled"></textarea>
  <div class="controls">
    <button (click)="saveWord()" [disabled]="wordEditorDisabled">Save</button>
  </div>
</div>
