<div class="word-editor">
  <h2>{{title}}</h2>
  <div>
    <label for="word">Word:</label>
    <input id="word" [(ngModel)]="word.word" [disabled]="wordEditorDisabled"/>
  </div>
  <div>
    <label for="importance">Importance:</label>
    <select id="importance" [(ngModel)]="word.importance" [disabled]="wordEditorDisabled">
      <option>0</option>
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
      <option>6</option>
      <option>7</option>
      <option>8</option>
      <option>9</option>
      <option>10</option>
    </select>
  </div>
  <label for="meaning">Meaning:</label>
  <textarea id="meaning" [(ngModel)]="word.meaning" [disabled]="wordEditorDisabled"></textarea>
  <label for="usageExamples">Usage examples:</label>
  <textarea id="usageExamples" [(ngModel)]="word.usageExamples" [disabled]="wordEditorDisabled"></textarea>
  <div class="controls">
    <button (click)="saveWord()" [disabled]="wordEditorDisabled">Save</button>
  </div>
</div>
