.word-bundle-edit {
  width: 25%;
  margin: 10px;
  display: inline-block;
  vertical-align: top;
}

input {
  width: 95%;
  margin-bottom: 15px;
}
textarea {
  width: 95%;
  height: 60px;
  margin-bottom: 15px;
}
select {
  margin-bottom: 15px;
  width: 95%;
}

div.controls {
  text-align: center;
}
