<div class="sign-up-component">
  <div class="title">
    <h2>Sign up to vocabulator</h2>
  </div>
  <div>
    <label for="email">Email:</label>
    <input id="email" [(ngModel)]="credentials.email">
  </div>
  <div>
    <label for="password">Password:</label>
    <input id="password" [(ngModel)]="credentials.password" type="password">
  </div>
  <div class="controls">
    <button (click)="signUp()">Sign up</button>
  </div>
  <div class="sign-in-link">
    <p>Already has an account? <a class="link" [routerLink]="['/sign-in']">Sign in</a>.</p>
  </div>
</div>
