<h2>{{wordEditorService.title}}</h2>
<div>
  <label for="word">Word:</label>
  <input id="word" [(ngModel)]="wordEditorService.word.word"/>
</div>
<div>
  <label for="importance">Importance:</label>
  <select id="importance" [(ngModel)]="wordEditorService.word.importance" (change)="importanceChanged(wordEditorService.word.importance)">
    <option *ngFor="let importanceValue of wordEditorService.importanceValues" [value]="importanceValue.value">{{importanceValue.view}}
    </option>
  </select>
</div>
<label for="meaning">Meaning:</label>
<textarea id="meaning" [(ngModel)]="wordEditorService.word.meaning"></textarea>
<label for="usageExamples">Usage examples:</label>
<textarea id="usageExamples" [(ngModel)]="wordEditorService.word.usageExamples"></textarea>
<div class="controls">
  <button id="remove" class="red" (click)="removeWord()" *ngIf="wordEditorService.word && wordEditorService.word.id">Remove</button>
  <button id="save" (click)="saveWord()">Save</button>
</div>
