<div class="learn-collections-page">

    <label>Create new learn collection with name:
        <input type="text" ng-model="newLearnCollection.name"/>
    </label>
    <button ng-click="createLearnCollection(newLearnCollection)">Create</button>

    <h2>Learn collections</h2>
    <table>
        <tr>
            <th>Name</th>
            <th></th>
        </tr>
        <tr ng-repeat="learnCollection in learnCollections">
            <td>{{::learnCollection.name}}</td>
            <td>
                <button ng-click="changeLearnCollection()">change</button>
            </td>
        </tr>
    </table>
</div>