<div class="learn-collections-page">

    <h1>Fill learn collection with words</h1>

    <span class="words-in-collection-block">
        <h2>Words in collection "{{::learnCollection.name}}"</h2>
        <table ng-repeat="wordInCollection in wordsInLearnCollection">
            <tr>
                <td>{{::wordInCollection.word}}</td>
                <td>
                    <button ng-click="dropFromCollection(learnCollection, wordInCollection)">drop</button>
                </td>
            </tr>
        </table>
    </span>

    <div class="side-block">

        <div class="add-words-block">
            <h1>Create new word</h1>
            <label>word:
                <input type="text" ng-model="newWord.word"/>
            </label>

            <h2>Meanings:</h2>
            <table>
                <tr ng-repeat="meaning in newWord.meanings | orderBy: 'positionInOrder'">
                    <td>
                        <input type="text" ng-model="meaning.meaning">
                    </td>
                    <td>
                        <button ng-click="removeMeaning(meaning)">remove</button>
                    </td>
                </tr>
            </table>
            <button ng-click="addMeaning(newWord)">Add meaning</button>
            <button ng-click="saveWord(newWord)">Save</button>
        </div>


        <div class="all-words-block">
            <h2>My words</h2>
            <table>
                <tr ng-repeat="wordMeaning in userWordMeanings">
                    <td ng-click="addToCollection(learnCollection, wordMeaning)">{{::wordMeaning.word}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>