<h2>Words in bundle</h2>
<div class="controls">
  <button id="add-word" class="btn green" (click)="addWord()">New word</button>
  <button id="unbind-word" class="gray" (click)="unbindWordFromBundle()" title="Unbind word from bundle" *ngIf="activeWord">
    <i class="fa fa-chain-broken fa-lg"></i>
  </button>
</div>
<div class="list" *ngIf="words.length != 0">
  <div class="pick-button" *ngFor="let word of words" [class.selected]="activeWord && activeWord.id == word.id">
    <p (click)="pickWord(word)">{{word.word}}</p>
  </div>
</div>
