.center {
  width: 300px;
  margin: auto;
}

div {
  .title, .controls {
    text-align: center;
  }
}

input {
  margin: auto;
  margin-bottom: 15px;
  width: 90%;
}

label {
  margin-left: 5%;
  margin-bottom: 5px;
}

input, label {
  display: block;
}

@media screen and (max-width: 700px) {
  .center {
    width: 100%;
  }
}
