<label>Pick bundle:
  <select (change)="selectWordBundle($event.target.value)">
    <option *ngFor="let wordBundle of wordBundles" [value]="wordBundle.id">{{wordBundle.name}}</option>
  </select>
</label>
<div class="word-frame" *ngIf="stage == wordLearnStage.ASK_KNOW">
  {{activeWord.word}}
</div>
<div class="word-frame" *ngIf="stage == wordLearnStage.CHECK_KNOW || stage == wordLearnStage.VIEW_MEANING">
  {{activeWord.word}} - {{activeWord.meaning}}
</div>
<div class="controls" *ngIf="stage == wordLearnStage.ASK_KNOW">
  <button class="green" (click)="doKnow()">Know</button>
  <button class="red" (click)="doNotKnow()">Do not know</button>
</div>
<div class="controls" *ngIf="stage == wordLearnStage.CHECK_KNOW">
  <button class="green" (click)="checkRight()">Right</button>
  <button class="red" (click)="checkWrong()">Wrong</button>
</div>
<div class="controls" *ngIf="stage == wordLearnStage.VIEW_MEANING">
  <button (click)="nextWord()">Ok</button>
</div>
